<!-- src/app/components/auth/login-form/login-form.component.html -->
<div class="login-container">
  <form (ngSubmit)="onSubmit()">
    <label for="email">Email:</label>
    <input
      type="email"
      id="email"
      [(ngModel)]="credentials.email"
      name="email"
      placeholder="Email"
      required
    />

    <label for="password">Password:</label>
    <input
      type="password"
      id="password"
      [(ngModel)]="credentials.password"
      name="password"
      placeholder="Password"
      required
    />

    <button type="submit">Login</button>

    <!-- Error Message Display -->
    <p *ngIf="errorMessage" class="error">{{ errorMessage }}</p>
  </form>
</div>
