<!-- filter.component.html -->
<div class="layout-239">
  <div class="section-title18">
    <div class="subheading3">Filtrer</div>
    <div class="content74">
      <b class="short-heading-here7">Nos apparts choisis pour vous</b>
      <div class="lorem-ipsum-dolor13">
        Nous avons regroupé les meilleurs appartements pour vous, vous n'avez plus qu'à choisir.
      </div>
    </div>
  </div>
  <div class="content75">
    <div class="row9">
      <div class="column42">
        <img class="placeholder-image-icon34" alt="" src="../../../../assets/images/placeholder-image11@2x.png" height="800px" width="800px"/>
        <div class="content76">
          <b class="heading33">Les mieux notés</b>
          <div class="text53">Sélection des appartements les mieux notés et disponibles.</div>
        </div>
      </div>
      <!-- Répétez pour chaque colonne de filtre -->
    </div>
    <div class="actions21">
      <div class="stylesecondary-smallfalse11">
        <div class="link-one9 btn-primary">Plus de filtre</div>
      </div>
      <div class="stylelink-smallfalse-dark3">
        <a href="#"><div class="link-one9">Réinitialiser</div></a>
        <img class="chevron-down-icon8" alt="" src="../../../../assets/images/icon--chevronright.svg"/>
      </div>
    </div>
  </div>
</div>
