<div class="contact-221">
  <div class="row18">
    <div class="content120">
      <img class="icon-message-detail" alt="" src="./assets/icon--envelope.svg" />
      <div class="contact-info3">
        <div class="section-title24">
          <b class="heading55">Email</b>
          <div class="text89">Informations de contact de l'hôte</div>
        </div>
        <div class="link3">hello&#64;jg-my-sr-ml.com</div>
      </div>
    </div>
    <div class="content120">
      <img class="icon-message-detail" alt="" src="./assets/icon--messagedetail.svg" />
      <div class="contact-info3">
        <div class="section-title24">
          <b class="heading55">Live chat</b>
          <div class="text89">Informations de contact de l'hôte</div>
        </div>
        <div class="link3">Commencer un nouveau chat</div>
      </div>
    </div>
    <div class="content120">
      <img class="icon-message-detail" alt="" src="./assets/icon--phone.svg" />
      <div class="contact-info3">
        <div class="section-title24">
          <b class="heading55">Téléphone</b>
          <div class="text89">Informations de contact de l'hôte</div>
        </div>
        <div class="link3">+33 01 00000000</div>
      </div>
    </div>
    <div class="content120">
      <img class="icon-message-detail" alt="" src="./assets/icon--map.svg" />
      <div class="contact-info3">
        <div class="section-title24">
          <b class="heading55">Bureau</b>
          <div class="text89">22, rue des victorieux, 64000</div>
        </div>
      </div>
    </div>
  </div>
</div>
