<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="description">
    <title>AtypikHouse</title>
</head>
<body>
    <app-navbar-main></app-navbar-main>
    <app-home-hero></app-home-hero>
    <app-home-tabs></app-home-tabs>
    <app-home-categories></app-home-categories>
    <app-home-testimonials></app-home-testimonials>
    <app-home-newsletter></app-home-newsletter>
    <app-home-newsletter></app-home-newsletter>
    <app-footer-main></app-footer-main>
</body>
</html>
