<div class="product">
  <img class="placeholder-image-icon28" [src]="product.imageUrl" alt="{{product.name}}" height="800px" width="800px"/>
  <div class="content67">
    <div class="header">
      <div class="subheading2">{{product.name}}</div>
      <div class="text46">{{product.description}}</div>
    </div>
    <div class="price">{{product.price}}</div>
    <form action="#" method="#" class="formComment">
      <textarea id="description" class="text-area typedefault12" name="description" rows="4" placeholder="Ajouter un commentaire"></textarea>
      <button class="styleprimary-smallfalse-da14 btn-primary">Commenter</button>
    </form>
  </div>
</div>
