
<!-- habitat-list.component.html -->
<div class="bg-gray-100 dark:bg-gray-800 py-8" *ngIf="habitat">
  <div class="max-w-6xl mx-auto px-4 sm:px-6 lg:px-8">
    <div class="flex flex-col md:flex-row -mx-4">

      <!-- Main Image and Buttons -->
      <div class="md:flex-1 px-4">
        <div class="h-[460px] rounded-lg bg-gray-300 dark:bg-gray-700 mb-4">
          <img class="w-full h-full object-cover" [src]="habitat.images[0]?.url || 'assets/images/placeholder-image16@2x.png'" alt="Habitat Image">
        </div>
        <div class="flex -mx-2 mb-4">
          <div class="w-1/2 px-2">
            <button class="w-full bg-green-600 dark:bg-green-700 text-white py-2 px-4 rounded-full font-bold hover:bg-green-500">Réserver</button>
          </div>
          <div class="w-1/2 px-2">
            <button class="w-full bg-yellow-600 dark:bg-yellow-700 text-white py-2 px-4 rounded-full font-bold hover:bg-yellow-500">Commenter</button>
          </div>
          <div class="w-1/2 px-2">
            <button class="w-full bg-green-600 dark:bg-green-700 text-white py-2 px-4 rounded-full font-bold hover:bg-green-500">Contacter</button>
          </div>
          <div class="w-1/2 px-2">
            <button class="w-full bg-yellow-600 dark:bg-yellow-700 text-white py-2 px-4 rounded-full font-bold hover:bg-yellow-500">Retourner</button>
          </div>
        </div>
      </div>

      <!-- Habitat Details -->
      <div class="md:flex-1 px-4">
        <h2 class="text-2xl font-bold text-gray-800 dark:text-white mb-2">{{ habitat.title }}</h2>
        <p class="text-gray-600 dark:text-gray-300 text-sm mb-4">{{ habitat.description }}</p>
        <div class="flex mb-4">
          <div class="mr-4">
            <span class="font-bold text-gray-700 dark:text-gray-300">Prix par nuitée:</span>
            <span class="text-gray-600 dark:text-gray-300">{{ habitat.pricePerNight }}€</span>
          </div>
          <div>
            <span class="font-bold text-gray-700 dark:text-gray-300">Max Personnes:</span>
            <span class="text-gray-600 dark:text-gray-300">{{ habitat.maxGuests }}</span>
          </div>

        </div>

        <!-- Additional Details -->
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Accessoires:</span>
          <p class="text-gray-600 dark:text-gray-300 text-sm">{{ habitat.amenities.join(', ') }}</p>
        </div>
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Disponibilité:</span>
          <p class="text-gray-600 dark:text-gray-300 text-sm">{{ habitat.availability }}</p>
        </div>

        <!-- Location -->
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Ville:</span>
          <p class="text-gray-600 dark:text-gray-300 text-sm">{{ habitat.city }}</p>
        </div>
        <div class="mb-4">
          <span class="font-bold text-gray-700 dark:text-gray-300">Pays:</span>
          <p class="text-gray-600 dark:text-gray-300 text-sm">{{ habitat.country }}</p>
        </div>

        <!-- Additional Images -->
        <div class="grid grid-cols-2 gap-4 mt-6">
          <img class="w-full h-64 object-cover rounded-lg" [src]="habitat.images[1]?.url || 'assets/images/placeholder-image16@2x.png'" alt="Additional Image 1">
          <img class="w-full h-64 object-cover rounded-lg" [src]="habitat.images[2]?.url || 'assets/images/placeholder-image16@2x.png'" alt="Additional Image 2">
        </div>
      </div>
    </div>
  </div>
</div>

