/* habitat-list.component.css */

.habitat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

.habitat-card {
  background-color: #fff;
  border: 2px solid #11CF73; /* Main color for border */
  border-radius: 8px;
  width: 30%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.habitat-card:hover {
  transform: translateY(-5px);
}

.habitat-image {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-bottom: 3px solid #DB9E00; /* Secondary color for image border */
  border-radius: 8px 8px 0 0;
}

.habitat-details {
  padding: 15px;
  text-align: center;
}

.habitat-details h2 {
  font-size: 1.5rem;
  color: #464646; /* Text color for title */
  margin-bottom: 10px;
}

.habitat-details p {
  font-size: 1rem;
  color: #AA3939; /* Updated text color for paragraph */
  font-weight: bold; /* Added bold font weight */
  margin: 5px 0;
}

.habitat-details p strong {
  color: #000000; /* Text color for labels */
}

/* Button styles */
.habitat-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.btn {
  padding: 10px 15px;
  border: none;
  border-radius: 5px;
  font-size: 1rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-reserver {
  background-color: #11CF73; /* Main color for "Réserver" button */
  color: #fff;
}

.btn-voir {
  background-color: #DB9E00; /* Secondary color for "Voir +" button */
  color: #fff;
}

.btn-commenter {
  background-color: #464646; /* Dark color for "Commenter" button */
  color: #fff;
}

/* Hover effects for buttons */
.btn:hover {
  opacity: 0.9;
}

@media (max-width: 768px) {
  .habitat-card {
    width: 48%;
  }
}

@media (max-width: 480px) {
  .habitat-card {
    width: 100%;
  }
}
