/* habitat-list.component.css */

.habitat-list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;
  padding: 20px;
  background-color: #f4f4f4;
}

.habitat-card {
  background-color: #fff;
  border: none; /* Main color for border */
  border-radius: 24px;
  width: 30%;
  height: 550px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
}

.habitat-card:hover {
  transform: translateY(-5px);
}

.habitat-image {
  width: 100%;
  height: 50%;
  object-fit: cover;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 8px 8px 0 0;
}

.habitat-details {
  padding: 15px;
  display: flex;
  flex-flow : column wrap;
  gap: 5px;
  justify-content: space-evenly;
}

.habitat-details h2 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  text-align: justify;
  line-height: 90%;
}

.habitat-details p {
  font-size: 1rem;
  font-weight: bold; /* Added bold font weight */
  margin: 5px 0;
}


/* Button styles */
.habitat-buttons {
  display: flex;
  justify-content: space-around;
  padding: 15px;
}

.btn {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-commenter {
  width: auto;
  border-radius: var(--br-31xl);
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: var(--padding-xs) var(--padding-5xl);
  box-sizing: border-box;
  color: var(--text-primary);
  border: 1px solid rgba(0, 0, 0, 0.527);
  position: relative;
  line-height: 150%;
}

.btn-commenter:hover {
  cursor: pointer;
  background-color: rgba(247, 246, 246, 0.993);
  transition: ease-in-out, 0.3s;
}


@media (max-width: 1200px) {
  .habitat-list {
    width: 100%;
    flex-flow: row wrap;
  }
  .habitat-card {
    height: 100%;
    
  }
  .habitat-buttons {
    flex-flow: column-reverse wrap;
    justify-content: space-evenly;
    gap: 10px;
  }
  .habitat-image {
    height: 60%;
  }

}

@media (max-width: 768px) {
  .habitat-list {
    width: 98%;
  }
  .habitat-card {
    width: 98%;
  }
  .habitat-image {
    height: 60%;
  }
}

@media (max-width: 480px) {
  .habitat-list {
    width: 100%;
  }
  .habitat-card {
    width: 100%;
    height: 100%;
  }

}
