<!-- habitat-list.component.html -->
<div class="habitat-list">
  <div class="habitat-card" *ngFor="let habitat of habitats" (click)="viewHabitat(habitat.id)">
    <img 
    [src]="habitat.firstImageUrl || 'assets/images/placeholder-image7@2x.png'" 
    alt="Habitat Image" 
    class="habitat-image">
    <div class="habitat-details">
      <h2>{{ habitat.title }}</h2>
      <p><span class="features">Ville:</span> {{ habitat.city }}</p>
      <p><span class="features">Prix/nuit:</span> {{ habitat.pricePerNight }}€</p>
      <p><span class="features">Maximum de personne :</span> {{ habitat.maxGuests }}</p>
    </div>
    <div class="habitat-buttons">
      <button class="btn btn-primary styleprimary-smallfalse-da14" (click)="startCheckout(habitat.title,habitat.pricePerNight)" [disabled]="loading">Réserver</button>
      <button class="btn btn-primary styleprimary-smallfalse-da14" (click)="viewHabitat(habitat.id)">Voir +</button>
      <button class="btn btn-commenter" (click)="viewComments(habitat.id)">Commenter</button>
    </div>
  </div>
</div>
