<div class="product-9">
  <div class="content63">
    <div class="title12">
      <div class="content64">
        <b class="short-heading-here7">Appartements</b>
        <div class="lorem-ipsum-dolor13">
          Trouvez votre cocon pour vos prochaines vacances.
        </div>
        <div class="search">
          <input class="searchInput" type="text" placeholder="Rechercher un appart">
          <button class="styleprimary-smallfalse-da14 btn-primary">Rechercher</button>
        </div>
      </div>
    </div>

    <div class="content65">
      <div class="content66" *ngFor="let product of products">
        <app-appart-appart-item [product]="product"></app-appart-appart-item>
      </div>
    </div>
  </div>
  <div class="stylesecondary-smallfalse10">
    <a href="#" class="link-one9"><button class="styleprimary-smallfalse-da14 btn-primary ">Voir plus</button></a>
  </div>
</div>
