@import url('../../../assets/css/global.css');
@import url('../../../assets/css/add-appart-appart.css');
@import url('../../../assets/css/modifis.css');

.profile-popup {
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
    z-index: 2000;  /* S'assurer que le popup est au-dessus de tout */
  }
  